.header-image {
  height: 350px;
  width: 100%;
}
.header-image img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}
.header-image::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  /* top: 0; */
  width: 100%;
  height: 350px;
  background-color: rgba(49, 158, 221, 0.4);
  z-index: 2;
}
.text {
  z-index: 3;
  color: white;
  position: relative;
  top: -14rem;
  left: 1rem;
  text-align: left;
  padding: 0;
}
.heading-career {
  margin: 0;
}
.text p {
  margin-top: 5px;
  width:70%;
}
