.whoweare_container{
    background-color:#aadcfe;

    text-align: center;
    padding:1rem .5rem;
}
.whoweare_container h1{
    margin:.2rem 0 1rem 0;
}
.whoweare_container p{
    width:80%;
    margin:1rem auto;
}