.Servicemainbody{
    /* height:400px; */
    /* background-color: aquamarine; */
    /* padding: 2rem 3rem 5rem 3rem; */
    padding: .8rem;
    margin: .6rem 0 1rem 0;
   
}
.Servicemainbody h2,p{
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: #05A5FF; */
}
.Servicemainbody p{
    font-size: 1rem;
    margin-bottom: 1.7rem;
}

.mainbox{
    display: grid;
    justify-content: center;
    align-items: center;
    /* grid-template-rows: 300px 300px; */
    grid-template-columns: 23% 23% 23% 23%;
    grid-column-gap: 1%;
    /* grid-row-gap: 4%; */
    width: 90%;
    margin: auto auto;
    /* padding: 2rem; */
    /* background-color: aqua; */
}
.mainData{
    padding: 1rem .5rem;
    /* height: 14rem; */
    /* border: .5px solid gray; */
    display: flex;
    flex-direction: column;
    cursor: pointer;
    /* justify-content: center;
    align-items: center; */
    /* background-color: antiquewhite;
    padding: 1rem; */
   
    /* border: 1px solid #F5E9E9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1rem; */

    
}
.serviceimage{
    height: 5rem;
   /* margin-bottom: 1.5rem; */
   /* background-color: aquamarine; */
    
}

.mainData img{
    /* height:30%; */
    width: 40%;
    /* padding: 0 0 1rem 0; */
    /* margin: 0 0 1rem 0; */
    border-radius: 1rem;
    /* background-color: blue; */
    display: block;
    margin-right: auto;
    margin-left: auto;
   
    
  
}
.mainData h4{
    margin-top: .8rem;
   font-size: 1rem;
   /* width: 80%; */
   display: flex;
   justify-content: center;
  align-items: center;
}
.mainData p{
    /* padding: 1rem; */
    font-size: .9rem;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    /* line-height: 110%; */
     /* text-align: justify; */
     
}
.mainData:hover{
    /* height: 18rem; */
    /* border: 1px solid #F5E9E9; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: .8rem;
    /* padding: 1rem; */

}
.dbyaModal h5{
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
/* .dbyaModal p{
    width: 90%;
    margin: 1rem auto;
} */
div .modalmain{
    margin-top: .5rem;
    max-width: 1100px;
    /* height: 800px !important; */
}
.modal-content{
   
    /* height: 80%; */
    
}
div .modalmain .modalbody{
    padding: 0;
}
div .modalmain .modalheader{
    padding: .8rem;
    position: relative;
    cursor: pointer;
}
 div .modalmain .closeicon{
    /* color: blue; */
    /* margin-top: -8px; */
    font-size: 1.9rem;
    cursor: pointer;
}

div .modalmain  .closeicon{
    position: absolute; right:.5rem; top: .5rem;  cursor: pointer;
}
div .modalmain .closeicon :hover{
    color: blue;
    
}
@media only screen and (min-width: 1025px){
    .serviceimage{
        /* height: 4.5rem; */
        /* margin-bottom: 1rem; */
        
    }
    
}
@media only screen and (min-width: 1700px){
    .serviceimage{
        height: 6rem;
        /* margin-bottom: 2.5rem; */
        
    }
}
@media only screen and (min-width: 2100px){
    .serviceimage{
        height: 6rem;
        /* margin-bottom: 4.5rem; */
        
    }
}

@media only screen and (max-width: 1250px){
    .serviceimage{
        height: 4rem;
        
    }
    .mainData img{
        width: 50%;
        height: 100%;
    }
}
@media only screen and (max-width: 930px){
    .mainbox{
        
        grid-template-columns: 50% 50% ;
        padding: .1rem;
        /* background-color: aqua; */
    }
    
    .mainData p{
        font-size: .9rem;
        width: 90%;
        /* margin: auto; */
       
    }
    .mainData img{
        /* height: 35%; */
        width: 40%;
        /* padding: 0 0 1rem 0; */
        margin: 0 0 3rem 0;
        border-radius: 1rem;
        /* background-color: blue; */
        display: block;
    margin-right: auto;
    margin-left: auto
      
    }
    .serviceimage{
        margin-bottom: rem;
        
    }
    
}


@media screen and (max-width: 600px) and (min-width: 500px){
    .modal-content:nth-child(1){
        /* height: 110%; */
    }

    
}
@media screen and (max-width: 700px) and (min-width: 600px){
    .modal-content:nth-child(1){
   
        /* height: 125%; */
        
    }
    div .modalmain{
    
        
       /* height: 100% !important; */
    }
}
@media screen and (max-width: 800px) and (min-width: 700px){
    .modal-content:nth-child(1){
   
        /* height: 100%; */
    }
}

@media only screen and (max-width: 613px){
    .mainbox{
        
        grid-template-columns: 100%;
        grid-row-gap: 2%;
        padding: .1rem;
        /* background-color: aqua; */
    }
    .modal-content{
   
        /* height: 115%; */
    }
    .serviceimage{
        /* margin-bottom: 3rem; */
        
    }
    
    
    
}
@media only screen and (max-width: 562px){
    .Servicemainbody h2{
        font-size: 1.3rem;
    }   
}
@media only screen and (max-width: 462px){
    .Servicemainbody h2{
        font-size: 1.1rem;
    }
    .Servicemainbody p{
        font-size: .8rem;
    }
}
@media only screen and (max-width: 365px){
    .Servicemainbody h3{
        font-size: .9rem;
    }
    .Servicemainbody p{
        font-size: .6rem;
    }
}
@media only screen and (max-width: 350px){
    .Servicemainbody h2{
        font-size: 1rem;
        width: 100%;
    }
    .mainbox{
        
        grid-template-columns: 100%;
        padding: .1rem;
        /* background-color: aqua; */
    }
    
}
@media only screen and (max-width: 300px){
    .Servicemainbody h2{
        font-size: .8rem;
        width: 100%;
        text-align: center;
    }
}