.softwaretesting h4{
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;

}
.hrcontent hr{
    width: 20%;
    margin: 10px auto;
   color: #000000;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.softwaredatabox{
    /* margin: 1rem; */
    padding: .2rem 2rem;
    display: grid;
   grid-template-columns: 50% 49%;
   grid-row-gap: 1%;
   /* grid-column-gap: 1%; */
   /* height: 35rem; */
   /* width: 90%; */
   margin-bottom: 1.5rem;
   
   
}
.dataitems{
    margin-top: .3rem ;
    
    /* padding: 2rem; */
    /* border: 1px solid #F5E9E9;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1rem; */
}
.dataitems:nth-child(3){
    margin-top: .8rem;
}
.dataitems:nth-child(4){
    margin-top: .8rem;
}
.dataitems h5{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #CF1865F7;

    font-size: 1rem;
}
/* className="border-0"  */
.dataitems p{
    width: 85%;
   margin: 0 auto;
   text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    word-spacing: -0.05em;
    
}

.images img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 16%; 
   
    margin-bottom: .2rem;
    /* width: 50%; */
}
@media only screen and (max-width: 570px){
  .softwaredatabox {
    grid-template-columns: 100%;
    grid-row-gap: 1%;
    padding-bottom: 2rem;
  }
  .dataitems{
    margin: 1rem;
  }
  .dataitems p{
    width: 85%;
   margin: 0 auto;
   
    
    
}
}
