.header_container {
  background-color: #1f68ae;
  color: white;
  height: 20rem;
}
.header_btn_container {
  margin-top:1rem;
  margin-left: 9rem;
  width: 60%;
  z-index: 2;
}
.header_btn {
  padding: 0.4rem 1.5rem;
  border-radius: 2rem;
  border: none;
  color: white;
  margin-right: 0.4rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
}
.header_btn:nth-child(2){
  margin-left:.4rem;
}
.header_center {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  /* top: 50%; */
  left: 50%;
  padding: 1rem;
  transform: translate(-50%, -1%);
  /* justify-content: center; */
}
.heading {
  margin: 0.5rem 3rem;
  z-index: 2;
}
.header-heading {
  width: 25rem;
}
.header-paragraph {
  /* width: 27.5%; */
  width:21rem;
}
.header_btn.blue_background {
  background-color: #23abe5;
  border: 1.5px solid #23abe5;
}
.header_btn.blue_border {
  border: 1.5px solid #23abe5;
  background-color: transparent;
}
@media only screen and (max-width: 700px) {
  .header_center {
    width: 100%;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
  }
  .header_container {
    height: 100%;
  }
  .header_btn_container {
    margin-left: 2.8rem;
    width: 80%;
  }
  .header_btn:nth-child(2){
    margin-left:0;
  }
}
@media only screen and (max-width: 500px) {
  .header_btn:nth-child(2) {
    margin-top: 0.5rem;
    margin-left:0;
  }
  .header-heading,
  .header-paragraph {
    width: 95%;
    margin: auto;
  }
  .header_btn_container {
    margin-left: .5rem;
    width: 80%;
  }
}
