.header_container{
    height:50vh;
    background-color:#1f68ae;
    color:white;
    padding:2rem 1rem;
    /* height:40vh; */
}
.header_btn_container{
    margin-left:15rem;
    width:50%;
}
.header_btn{
    padding:.4rem 1rem;
    border-radius:2rem;
    border:none;
    color:white;
    margin-right:.4rem;
    
}
.header_center{
    width:90%;
    display: flex;
    flex-direction: column;
    position: relative;
    top:50%;
    left:48%;
    transform: translate(-50%,-50%);
    /* justify-content: center; */
}
.header_center h1,.header_center p{
    width:40%;
}
.header_btn.blue_background{
    background-color: #23ABE5;
}
.header_btn.blue_border{
border:1px solid #23ABE5;
background-color: transparent;
}
@media only screen and (max-width: 700px){
    .header_center{
        width:100%;
        top:0%;
        left:0%;
        transform:translate(0%,0%);
    }
    .header_container{
        height:100%;
    }
    .header_btn_container{
        margin-left:2rem;
        width:80%;
    }
}
@media only screen and (max-width: 500px){
    .header_btn:nth-child(2){
        margin-top:.5rem;
    }
    .header_center p, .header_center h1{
        width:100%;
    }
    .header_btn_container{
    margin-left:1rem;
        width:100%;
    }
    }
