.work-with-us-container{
    margin:auto;
}
.workwithus-maindiv {
  /* border: 2px solid;  */
  margin-bottom: 5rem;
}
.workwithus-maindiv h2 {
  text-align: center;
  padding-top: 1rem;
}
.box-row {
  border: 1px blue;
  column-gap:7rem;
  justify-content:center;
  /* justify-content: space-around; */
}
.box-col {
  /* border: 1px solid red; */
  background: linear-gradient(
    180deg,
    rgba(7, 16, 229, 0.1) 0%,
    rgba(35, 171, 230, 0.3) 100%
  );
  height: 230px;
  width: 230px;
  transform: rotate(45deg);
  margin-top: 3rem;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  position: relative;
}
.box-col:hover,
.box-col2:hover,
.box-col3:hover {
  background: linear-gradient(
    180deg,
    rgba(7, 14, 229, 0.267) 0%,
    rgba(35, 171, 230, 0.377) 100%
  );
  box-shadow: 0 4px 8px 0 rgba(133, 200, 245, 0.3),
    0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.box-row2 {
  /* border: 1px solid blue; */
  gap:7rem;
  justify-content: center;
}
.box-col2 {
  /* border: 1px solid red; */
  background: linear-gradient(
    180deg,
    rgba(7, 16, 229, 0.1) 0%,
    rgba(35, 171, 230, 0.3) 100%
  );
  height: 230px;
  width: 230px;
  transform: rotate(45deg);
  margin-left: 7rem;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  /* margin-top: 2.5rem; */
}

.box-col3 {
  /* border: 1px solid red; */
  background: linear-gradient(
    180deg,
    rgba(7, 16, 229, 0.1) 0%,
    rgba(35, 171, 230, 0.3) 100%
  );
  height: 230px;
  width: 230px;
  transform: rotate(45deg);
  margin-right: 7rem;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  /* margin-top: 2.5rem; */
}
.parabox-text {
  /* border: 1px solid; */
  /* position: absolute; */
  /* right:.5rem; */
  /* bottom:2rem; */
  transform: rotate(-45deg);
  text-align: center;
  margin: 0.5rem 1rem 0 0.5rem;
}
.icon1 {
  font-size: 25px;
  color: #00635a;
  margin-right: 35px;

  /* margin-top: 0px; */
  /* margin-bottom: 0px; */
}
.icon2 {
  font-size: 25px;
  color: #f2668b;
  margin-right: 30px;
  margin-bottom: 2px;
  /* margin-top: 0px; */
  /* margin-bottom: 0px; */
}
.icon3 {
  font-size: 25px;
  color: #7a577a;
  margin-right: 30px;

  /* margin-top: 0px; */
  /* margin-bottom: 0px; */
}
.icon4 {
  font-size: 25px;
  color: #d96941;
  margin-right: 30px;
  margin-bottom: 2px;
  /* margin-top: 0px; */
  /* margin-bottom: 0px; */
}
.icon5 {
  font-size: 25px;
  color: #03a64a;
  margin-right: 15px;

  /* margin-top: 0px; */
  /* margin-bottom: 0px; */
}
.icon1-h5 {
  margin-bottom: 7px;
  margin-right: 30px;
  font-size: 18px;
}
.icon5-h5 {
  margin-bottom: 7px;
  margin-right: 15px;
  font-size: 18px;
}
.box1-text {
  font-size: 13px;
  padding-left: 0;
  text-align: center;
  margin-right: 12px;
}

@media only screen and (max-width: 991px){

.box-col,.box-col2,.box-col3{
  height: 180px;
  width: 180px;
}
.parabox-text{
  position: absolute;
  right:1rem;
  bottom:2rem;
  margin-right:2rem;
  margin:0;
  font-size:.9rem;
  width:92%;
}
.box1-text{
  margin:0;
  font-size:11px;
}
.box-row{
  column-gap:5.5rem;
}
.icon1-h5,.icon1,.icon2,.icon3,.icon4{
  margin-right:0;
}
}

@media only screen and (max-width: 767px){
  .box-row{
    column-gap: 3.5rem;
  }
.box-col{
  margin:5rem 0 0 2rem;
}
.box-col2{
  margin:5rem 0 0 2rem;
}
.box-col3{
  margin:0;
  margin-left: 2rem;
}
}
@media only screen and (max-width: 600px) {
  .box-row {
    justify-content: left;
    row-gap: 5rem;
    width: 90%;
    margin: 0 auto;
  }

  .box-col,
  .box-col2,
  .box-col3 {
    margin: auto;
  }
  .box-col3{
    /* margin-left:9rem; */
    margin:-6rem 0 0 9rem;
  }
  .work-with-us-container {
    margin-top: 3rem;
    width:90%;
  }
  .box-row2 {
    margin-top: 6rem;
    gap: 6rem;
  }
}
@media only screen and (max-width: 540px){
.box-col3{
  margin: 0 0 0 7rem;
}
}
@media only screen and (max-width: 486px){
.box-col3{
  /* margin:0 0 0 7rem; */
  margin:auto;
}
}