.ourClients_container{
    width:90%;
    margin:auto;
}
.clients_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 200px; */
    width:100%;
    height: 10rem;
    /* padding:2rem 0; */
    margin:auto;
}
.company-logo{
    width:100% !important;
    margin:auto !important;
    /* background-color: red; */
}
.company-logo img{
    margin: auto;
    width:60%;
    /* background-color: red; */

}
.company-logo h3{
    text-align: center;
}

.slick-dots{
    /* padding:1rem; */
    margin:1rem;
}
.slick-arrow.slick-next,.slick-arrow.slick-prev{
    display:none !important;
}
@media only screen and (max-width: 700px){
    .clients_logo{
        height: 5rem;
    }
    .company-logo img{
        width:8rem;
    }
}