
/* new carousel */
.mainbg-div {
  background-color: rgba(135, 207, 235, 0.363);
}
.mainbg-div h2 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}
.partners-bg {
  background-color: rgba(135, 207, 235, 0.055);
  /* height: 300px; */
  margin-bottom: 2rem;
}
.partner-row {
  /* border: 1px solid ; */
  justify-content: center;
  text-align: center;
}
.partner-col {
  background-color: white;
  margin-top: 10px;
  box-shadow: 0 2px 4px 0 rgba(133, 200, 245, 0.3),
    0 4px 10px 0 rgba(0, 0, 0, 0.1);
}
div .carousel-indicators{
  bottom:-12px;
}
.inner-row {
  /* border: 1px solid; */
  /* margin:
  
  rem; */
  padding: 2rem 0.5rem;
  justify-content: center;
}
.inner-row .cirleimage {
  /* border: 1px solid red; */

  margin-top: 25px;
  border-radius: 50%;
  /* height: 10rem; */
  width: unset;
}
.cirleimage img {
  object-fit: cover;
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
}
.textparagraph {
  background-color: rgba(250, 235, 215, 0.705);
  margin: 2rem;
  box-shadow: 0 2px 4px 0 rgba(224, 230, 235, 0.178),
    0 4px 10px 0 rgba(0, 0, 0, 0.1);
}
.textparagraph p {
  padding: 15px;
  text-align: justify;
}
@media only screen and (max-width: 500px) {
}
