.letschatmain{
    margin-top: 1rem;
  
    
    background: rgb(228 231 232 / 52%);
   /* padding: 2rem ; */
}
.letschatcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem 0 2rem  0;
    /* margin: 10px auto; */
}
.letschatcontent h2{
    /* color: white; */
   padding: 1rem 0 0 0;
   
 
  
}
.letschatcontent p{
   width: 60%;
   margin: 1px auto;
   font-size: 1.1rem;
   text-align: center;
  
}
.letschatcontent button{
    /* height: 4vh; */
    /* width:7vw; */
    margin-top: 1rem;
    padding: .5rem;
    border: none;
    border-radius: .5rem;
    background: #23ABE6;
   
   
}
@media only screen and (max-width: 950px){
    .letschatcontent h2{
        font-size: 1.6rem;
       
    }  
    .letschatcontent p{
        font-size: .9rem;
    }
}
@media only screen and (max-width: 950px){
    .letschatcontent h2{
        font-size: 1.3rem;
       
    }  
    .letschatcontent p{
        font-size: .9rem;
    }
}
@media only screen and (max-width: 650px){
    .letschatcontent h2{
        font-size: 1rem;
       
    }  
    .letschatcontent p{
        width: 80%;
        margin: 2px auto;
        font-size: .8rem;
    }
}
@media only screen and (max-width: 613px){
    .letschatmain{
        margin-top:3rem;
    }
}
@media only screen and (max-width: 500px){
    .letschatcontent h2{
        font-size:.8rem;
       
    }  
    .letschatcontent p{
        font-size: .6rem;
    }
}
@media only screen and (max-width: 415px){
    .letschatcontent h2{
        font-size: .78rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1px auto;
       
    }  
    .letschatcontent p{
        font-size: .7rem;
    }
}
@media only screen and (max-width: 380px){
    .letschatcontent h2{
        font-size: .77rem;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        width: 100%;
        margin: 1px auto;
        text-align: center;
       
    }  
    .letschatcontent p{
        font-size: .7rem;
    }
    .letschatcontent button{
        margin-top: 1rem;
       
       
    }
}
