
.navbar_img{
  margin:0 3rem;
  width:15%;
}
.navbar_img img{
  width:100%;
}
.navbar_list li {
  list-style-type: none;
  padding: 0 1.5rem;
}
.navbar_list li a {
  text-decoration: none;
  color: black;
}
.navbar_button {
  padding: 0.3rem 1rem;
  margin-right:2rem;
  /* margin:.5rem 0; */
  background-color: #23abe5;
  border-radius: 1.4rem;
  color: white;
  border: none;
  cursor: pointer;
}
.navbar_button:hover {
  background-color: #1f68ae;
}
 /* .Nav-link .active{
  background-color: #C2C0A6;
  
 }   */
 nav.navbar.navbar.navbar-expand-lg.navbar-light.bg-light{
  z-index:2;
 }


@media only screen and (max-width: 500px) {
  .navbar_img{
    margin:0 .5rem;
  }
}
