.footer {
  display: flex;
  justify-content: space-around;
  background-color: #0E5472;
  color: white;
  padding: 1rem 0;
  width:100%;
}
.footer_logo{
  vertical-align: middle;
}
.footer_getintouch p, .footer_links p a,.footer_socials p{
  color:gray;
}
.footer_links a {
  display: block;
  text-decoration: none;
  color: white;
}
.footer p {
  margin: 0.4rem;
}
@media only screen and (max-width: 500px){
  .footer{
    flex-direction: column;
    text-align:center;
  }
}