/* .contract-div
{
    border: 1px solid;
} */

.contract-div h2 {
  padding-top: 2rem;
}
.contract-div p {
  text-align: center;
  font-size: 18px;
}

.work-for-us-progress-bar-container,.work-for-us-progress-bar-responsive-container {
  position: relative;
  margin: auto;
  height: 8rem;
  margin-top: 4rem;
  width: 85%;
}

.work-for-us-progress-bar-container ul, .work-for-us-progress-bar-responsive-container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 100;
  position: absolute;
  margin: 0;
  padding: 0;
  padding: 1.5rem;
  margin-top: -3rem;
}
.work-for-us-progress-bar-container li, .work-for-us-progress-bar-responsive-container li {
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  /* font-weight: 700; */
  vertical-align: middle;
  position: relative;
  width: 100%;
  height: 8rem;
  transition: all ease 0.2s;
}
.step-box {
  border: solid 2px #9c9c9c;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  transition: all ease 0.3s;
  margin: .1rem auto;
}
li.active .step-box, .step-box:hover {
  border: solid 2px #fff;
  background: linear-gradient(to right, #045ce9 0%, #fff 100%);
  height: 2rem;
  width: 2rem;
}
.work-for-us-progress-bar-container li .step-inner, .work-for-us-progress-bar-responsive-container li .step-inner {
  width: 85%;
  /* font-size: 1.1rem; */
  margin: auto;
}
.work-for-us-progress-bar-container li.active:after, .work-for-us-progress-bar-responsive-container li.active.after {
  background: #045ce9;
}
.work-for-us-progress-bar-container li:after, .work-for-us-progress-bar-responsive-container li.after {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  background: #9c9c9c;
  margin: auto;
  border: solid 0.7rem #f4fbff;
  border-radius: 50%;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  transition: all ease 0.2s;
}
.work-for-us-line-container{
  /* , .work-for-us-line-responsive-container  */
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 10rem; */
}
.work-for-us-progress-bar-container .work-for-us-line, .work-for-us-progress-bar-responsive-container .work-for-us-line {
  margin: auto;
  background: #eee;
  height: 7px;
  position: absolute;
  top: 5.7rem;
  width: 80%;
  z-index: 1;
  border-radius: 5rem;
  transition: all 0.9s ease;
}
.work-for-us-progress-bar-container .work-for-us-line-process {
  content: "";
  /* width: 0%; */
  height: 100%;
  background: #045ce9;
  background: linear-gradient(to right, #c8f3c6 0%, #3573d6ee 100%);
  position: absolute;
  z-index: 2;
  border-radius: 5rem;
  transition: all ease 0.9s;
}

.textrow {
  justify-content: center;
  text-align: center;
  /* padding-top: 1rem; */
}
.textcol {
  text-align: center;
  width:80%;
  /* height: 200px; */
  padding:2rem;
  margin-bottom:2rem;
  background: linear-gradient(
    90.87deg,
    rgba(35, 171, 230, 0.29) 0.75%,
    rgba(35, 171, 230, 0.1) 54.19%
  );
  margin-top: 1rem;
}
.textcol h4 {
  padding-top: 23px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 400;
}
.textcol p {
  padding-left: 20px;
  padding-right: 20px;
}
.work-for-us-progress-bar-responsive-container,.work-for-us-line-responsive-container{
  display: none;
}
@media only screen and (max-width: 850px){

  .work-for-us-progress-bar-container, .work-for-us-content{
    display: none;
  }
  .work-for-us-progress-bar-responsive-container,.work-for-us-line-responsive-container{
    display: block;
  /* position:static; */
  }
  .work-for-us-progress-bar-responsive-container{
    height:100%;
    width:86%;
    margin:auto;
    background: transparent;
    color: #333;
  }

  .work-for-us-progress-bar-responsive-container .work-for-us-step{
    padding:30px 30px 10px 60px;
  }
  .work-for-us-progress-bar-responsive-container .work-for-us-step {
    text-align:left;
  }

  .work-for-us-progress-bar-responsive-container .work-for-us-step h2{
    position: relative;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  .work-for-us-progress-bar-responsive-container .work-for-us-step h2:before{
    content: '';
    display: block;
    height: 2rem;
    width: 2rem;
    z-index:2;
    border-radius: 50%;
    background: linear-gradient(to right, #045ce9 0%, #fff 100%);
    position: absolute;
    top: 0;
    left: -3.3rem;
  }
  .work-for-us-progress-bar-responsive-container .work-for-us-line-process{
    content: "";
    height: 20%;
    width: .7rem;
    background: #045ce9;
    background: linear-gradient(to right, #c8f3c6 0%, #3573d6ee 100%);
    position: absolute;
    z-index: 2;
    border-radius: 5rem;
    transition: all ease 0.9s;
  }
  /* div .work-for-us-progress-bar-responsive-container .work-for-us-line:before{
    content: '';
    display: block;
    height: 85rem;
    width: 1rem;
    background-color: #d8d8d8;
    position: absolute;
    top: 8rem;
    left: 3rem;
  } */
  /* .work-for-us-line{
    transform: rotate(90deg);
  } */
  /* .work-for-us-progress-bar-container ul, .work-for-us-progress-bar-responsive-container ul{
  flex-direction: column;
  width:100%;
  margin:auto;
  position: static;

  } */
  .work-for-us-progress-bar-responsive-container .work-for-us-line{
    left:1.1rem;
    /* background-color: red; */
    top:3rem;
    z-index:-1;
    height: 82%;
    width:.7rem;
    /* width:850px; */
    /* width:clamp() */
    /* max:850px  min:*/
    /* 626px, 522px,426,384, */

  }
  .work-for-us-progress-bar-responsive-container li{
    display: flex;
    height:7.4rem;
    /* width:80%; */
    width:95%;
    height:100%;
  }
  .work-for-us-progress-bar-responsive-container li p{
    text-transform: lowercase;
  }
  .work-for-us-progress-bar-responsive-container li .step-inner{
    width:80%;
    margin:0;
    text-align:left;
  }
  .step-box{
    background-color:#d0cccc; 
  }
} 
@media only screen and (max-width: 500px){
.work-for-us-progress-bar-responsive-container{
  width:100%;
}}