/* .resume-maindiv
{
    border: 1px solid;
} */
.resume-row
{
    /* border: 2px solid red; */
    justify-content: center;
    text-align: center;
    background: linear-gradient(180deg, rgba(7, 16, 229, 0.1) 0%, rgba(35, 171, 230, 0.3) 100%);
    margin: 0;
}
.resume-col1
{
    /* border: 2px solid blue; */
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: auto;
    text-align: end;
   
}
.resume-col1 img
{
    height: 260px;
    width: 88%;
    /* object-fit: cover; */
    border-radius: 15px 50px;
    text-align: end;
    
}
.resume-col2
{
    /* border: 2px solid blue;  */
    margin-top: 2rem;
    
}
.resume-col2 h2
{
    margin-top: 10px;
}
.resume-col2 p
{
    font-size: 18px;
    padding-top: 5px;
    padding-left: 12px;
    padding-right: 11px;
}
/* .btn-3div
{
    border: 1px solid;
} */
.rbtn
{
    background-color: #FFFFFF;
    color: black;
    border: 1px solid #159A9C;
    margin: 13px;
    margin-top: 10px;

}
.rbtn:hover
{
    background-color: #159A9C;
    border: none;
}
