* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .mainForm{
    /* background-color:#bfdbfe; */
    background: rgb(228 231 232 / 52%);
    /* margin-bottom: 2rem; */
  }
  .textfields{
    width: 10%;
    background-color:white;
    border-color:white;
    border-radius: 8px;
    /* padding: 11px; */
    /* height: 50px; */
    
  }
  div .searchWrapper{
    /* padding: 12px; */
    border: 0;
    margin-bottom: .4rem;
    padding: 0;
  }
  div .multiSelectContainer input {
    margin:0;
  }
  .textfield{
    width:80%;
    background-color:white;
    border-color:white;
    border-radius: 8px;
  /* color:green; */
  }
  .header-row {
    height: auto;
    width: 100%;
    margin: 0;
    background-color: rgba(13, 73, 147, 0.74);
  }
  
   /* .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border-color:white;
  } */
  .col-p {
    /* justify-content: center; */
    text-align: left;
    /* background-color: rgba(13, 73, 147, 0.842); */
    color: white;
    height: 350px;
  }
  .heading-h {
    padding-top: 80px;
    padding-left: 30px;
  }
  .para-p {
    padding-left: 30px;
    /* padding-right: 60px; */
  }
  
  .form-row {
    --bs-gutter-x: 0rem;
    border: none;
    /* border: 2px solid red;   */
    /* background-color:#bfdbfe; */
    background: rgb(228 231 232 / 52%);
    padding-bottom: 2rem;
    justify-content: center;
  }
  .form-col {
    /* background-color:#bfdbfe; */
    /* background-color: #9296c8; */
    background-color: #6acaffab;
    padding: 1rem 1.5rem;
    /* background-color: rgba(35,171,229,.699); */
  }
  /* form using mui */
  .container{
   
  }
  .form_container{
    width:80%;
    /* padding:1rem; */
     margin: auto;
    background-color: white;
  }
  .textfield{
    background-color:white;
    border-color:white;
    border-radius: 8px;
  /* color:green; */
  }
  .field-row1 {
    margin: auto 0.2rem;
    padding-top: 0;
  }
  div .css-gjbq6i-MuiInputBase-root-MuiFilledInput-root:before{
    border-bottom:0;
  }
  div .css-gjbq6i-MuiInputBase-root-MuiFilledInput-root:focus{
    border-bottom:0;
    /* background-color: aqua; */
   
  }
  
  
   
  
  div .css-sghohy-MuiButtonBase-root-MuiButton-root{
    /* background-color: #030f1c; */
    background-color: #fff;
    color: black;
  }
  
  .css-qfz70r-MuiFormGroup-root{
    /* background-color: aqua; */
    margin: 0;
    padding: 0%;
  }
  div .css-sghohy-MuiButtonBase-root-MuiButton-root:hover{
    /* background-color: #a73b63;
     */
    
  }
  
  div .css-1p6y6ap-MuiInputBase-root-MuiFilledInput-root,div .css-19mk8g1-MuiInputBase-root-MuiFilledInput-root,div .css-gjbq6i-MuiInputBase-root-MuiFilledInput-root,div .css-1ra8cd2-MuiInputBase-root-MuiFilledInput-root {
    background-color: white;
    border-radius: 10px;
  }
  
  
  
  div .form-button > .Mui-checked {
    /* background-color: aquamarine; */
      
      
  }
  
  
  div .checkbox{
    /* display:none; */
     
  }
  .checkbox:checked + .form-button{
    background-color: aqua;
  }
  /* .field-row1{
   padding-left:22.5px;
  } */
  /* /* div .checkbox:checked{
    background-color:green;
  
  div.form-button:visited{
    background-color: blue;
  } */
  div .form-button{
    padding:.7rem 1rem;
    background-color: #fff;
    border-radius:5px;
    /* margin:.2rem ; */
    margin-top: 0.5rem;
    margin-left: 11px;
   
  }
  
  /* div .form-button:hover{
    background-color: pink;
  } */
  label[data-shrink=false]+.MuiInputBase-formControl .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    background-color:white;
    border-radius: 10px;
  }
  label[data-shrink=false]+.MuiInputBase-formControl .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input :hover{
    background-color: rgb(255, 255, 255);
  }
  label[data-shrink=false]+.MuiInputBase-formControl .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input:focus{
    background-color: rgb(250, 250, 255);
  }
  /* div .form-button:checked{
    background-color:green;
  } */
  /* div input[type=checkbox]:checked+label {
    color: #f00;
    font-style: normal;
  } */
  .tel{
    display: flex;
    gap:1rem;
  }
  .txtfield_country_code{
    width:40%;
   background-color: white;
   border-radius: 8px;
   /* border-color:white; */
  }
  
  .txtfield_phone{
    width:60%;
    background-color: white;
    border-radius: 8px;
  }
  .heading-form {
    padding-top: 20px;
    padding-left: 15px;
    color: white;
    margin-bottom: 5px;
    font-size: 33px;
  }
  .heading-para {
    display: flex;
    justify-content: flex-start;
    padding-left: 4px;
    font-size: 25px;
    
    /* padding-left: 15px;
    color: white;
    margin-bottom: 10px;
    font-size: 20px;
    align-items: left; */
  }
  .field-row1 {
    /* border: 1px solid;  */
    margin: auto 0.2rem;
    padding-top: 0px;
  }
  .field-col1 {
    margin-top: 0.5rem;
    /* background-color: skyblue; */
    /* margin-left: 15px; */
    /* height: 35px; */
    width: auto;
    /* border-radius: 10px; */
  }
  .field-col1 p {
    text-align: center;
    padding-top: 5px;
    font-size: 15px;
  }
  
  /* .field-col1:hover {
    background-color: pink;
  } */
  .field-row2 {
    /* border: 1px solid;  */
    margin: auto;
    padding-top: 5px;
  }
  .table-form-row {
    /* border: 1px solid; */
    margin: auto;
  }
  
  .form-control {
    height: 42px;
    border-radius: 0;
    margin-left: 4px;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
  }
  .messagetxt {
    height: 90px;
    resize: none;
  }
  .uploadfiles {
      width:100%; 
    margin-left: 5px;
    color:transparent;
  }
  .uploadfiles::-webkit-file-upload-button{
      visibility: hidden;
  }
  .uploadfiles::before {
      content: 'Upload files';
      color: black;
      display: inline-block;
      background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  /* background-color:rgb(128, 128, 128); */
      border: 1px solid #999;
      border-radius: 3px;
      padding: 5px 8px;
      outline: none;
      white-space: nowrap;
      -webkit-user-select: none;
      cursor: pointer;
      text-shadow: 1px 1px #fff;
      font-weight: 500;
      font-size: 10pt;
    }
  .button-row {
    justify-content: center;
  }
  .button-col {
    text-align: center;
  }
  .button-col button {
    width: 80px;
    background-color: rgb(59, 109, 167);
  }
  .button {
    border-radius: 4px;
    background-color: rgb(35, 171, 229, 96%);
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    font-weight: 400;
    position: fixed;
    bottom: 10rem;
    right: -40px;
    transform: rotate(90deg);
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    transform: rotate(180deg);
  }
  
  .button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .faq {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0px;
  }
  .faq-para {
    text-align: center;
    margin-bottom: 15px;
  }
  #rc-anchor-alert, .rc-anchor-alert{
    display: none;
  }
  .faq-bgdiv {
    background-color: rgba(35, 171, 229, 0.418);
  }
  .faq-row {
    justify-content: center;
  }
  .faq-col1 {
    margin-top: 15px;
    background-color: white;
    margin-right: 20px;
    height: 50px;
  }
  .faq-col1:hover {
    background-color: pink;
  }
  .faq-col1 p {
    text-align: center;
    font-size: 18px;
    font-weight: 450;
    padding-top: 10px;
  }
  .faq-col2 {
    margin-top: 15px;
    background-color: white;
    height: 50px;
  }
  
  .faq-col2 p {
    text-align: center;
    font-size: 18px;
    font-weight: 450;
    padding-top: 10px;
  }
  @media only screen and (max-width: 700px) {
    .heading-h {
      padding-top: 20px;
      padding-left: 20px;
    }
    .para-p {
      padding-left: 20px;
      font-size: 13px;
    }
    .col-p {
      height: auto;
    }
    .col-image {
      height: 200px;
    }
    .col-image img {
      height: 200px;
    }
    .heading-form {
      font-size: 25px;
    }
    .heading-para {
      font-size: 17px;
    }
  }
  @media only screen and (max-width: 915px) {
    .location-col {
      margin: auto;
      justify-content: center;
    }
    .field-col1 {
      margin-bottom: 5px;
    }
    .my-modal {
      max-width: 85%;
      margin:auto;
    }
    .close-btn {
      font-size: 10px;
      /* margin-right: 20px; */
    }
    #example-custom-modal-styling-title {
      font-weight: 450;
      font-size: 20px;
      margin-right: 123px;
    }
    .form-col {
      /* background-color:#bfdbfe; */
      /* background-color: #9296c8; */
      background-color: #6acaffab;
      padding: 2rem 0rem;
      /* background-color: rgba(35,171,229,.699); */
    }
  }
  
  @media only screen and (min-width: 540px) and (max-width: 720px) {
    #example-custom-modal-styling-title {
      margin-right: 100px;
    }
  }
  @media only screen and (min-width: 280px) and (max-width: 653px) {
    #example-custom-modal-styling-title {
      font-size: 17px;
      margin-right: 80px;
    }
    .close-btn {
      margin-right: 25px;
    }
  }
  
  @media only screen and (min-width: 412px) and (max-width: 914px) {
    #example-custom-modal-styling-title {
      margin-right: 160px;
    }
  }
  @media only screen and (min-width: 360px) and (max-width: 740px) {
    #example-custom-modal-styling-title {
      margin-right: 130px;
    }
    .close-btn {
      margin-right: 6px;
    }
  }
  @media only screen and (max-width: 810px){
    .buttonsubmit{
      margin-top: 1.8rem;
    }
  }
  @media only screen and (max-width: 770px){
    .form-col {
      /* background-color:#bfdbfe; */
      /* background-color: #9296c8; */
      background-color: #6acaffab;
      padding: 2rem 0rem;
      /* background-color: rgba(35,171,229,.699); */
    }
  }

  @media only screen and (max-width:500px){
    .form_container {
      width: 95%;
      /* padding: 1rem; */
      margin: auto;
      background-color: white;
  }
  }
  